body {
<<<<<<< HEAD
    background-color: dodgerblue;
=======
    background-color: darkred;
>>>>>>> 25278d2d766a5128ee9386b9058924fd0ed35d79
  }

#piano{
    position: relative;
    margin-left: auto;
    margin-right: auto;
    
<<<<<<< HEAD
}
=======
}
>>>>>>> 25278d2d766a5128ee9386b9058924fd0ed35d79
